.divDialog {
    position: fixed;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    top: 20%;
    left: 0;
}

.dialog {
    position: relative;
    display: inline-block;
    background-color: #333;
    color: white;
    padding: 2%;
    border-radius: 10px;
    width: 50%;
}

.divSep {
    margin-top: 10px;
}

.exitDialog {
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
}

.buttonExit {
    font-size: 2.5em;
    color: white;
}

.labelPart {
    text-decoration: none;
    background-color: transparent;
    color: white;
    border: none;
}

.deleteButton {
    background-color: #db5824;
    border: none;
    outline: none;
    border-radius: 100%;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}

.buttonSave {
    width: 15%;
    height: 45px;
    padding: 0;
    background-color: #db5824;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    align-items: center;
    color: white;
}

.buttonSave:hover {
    background-color: #333;
}