body{
    padding: 0%;
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(/img/fondo.jpg);
    text-align: center;
}

.tools{
    display:inline-flex;
    background-color: #333;
    color: white;
    width: 100%;
}

.titulo{
    margin-left: 2%;
}

.labelFont{
    font-size: 20px;
}

.fuente{
    margin-left: 5%;
    display: inline-flex;
}

.inputInt{
    height: 25px;
}
.divFont{
    margin: 10px 10px ;
}

.inputColor{
    height: 25px;
    width: 50px;
    border: 0;
    cursor: pointer;
}

.status{
    display: none;
}

.canvas-container{
    border-style: solid;
    border-style: solid;
    display: block;
    margin: 20px auto;
}

.divConf{
    position: absolute;
    top: 0;
    left: 90%;
    display: flex;
}

.button{
    margin-top: 10px;
    display: block;
    height: 60px;
    width: 60px;
    padding: 0;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.buttonIcon {
    display: block;
    color: white;
    height: 100%;
    width: 100%;
    font-size: 400%;
}

.active {
    background-color: rgb(88, 88, 88);
}